* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.container__perspective {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	border: 1px solid gray;
	perspective: 5000px;
}

.item__perspective {
	width: 500px;
	height: 300px;
	border: 2px solid black;
	background-color: greenyellow;
	transform-style: preserve-3d;
	transition: 0.6s linear;
	transform-origin: left bottom;
}

.item__perspective:hover {
	transform: rotateX(-20deg) rotateY(20deg);
}

.card {
	position: relative;
	width: 20%;
	height: 350px;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 20px;
	transform-style: preserve-3d;
	transition: 0.5s;
}

.card:hover {
	transform: perspective(600px) rotateY(180deg);
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 20px;
}

.face.front {
	background-color: hotpink;
}

.face.back {
	background-color: aqua;
	transform: rotateY(180deg);
}
