* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu__container {
	width: 100%;
	padding: 10px;
	background-color: #2b2b2b;
	text-align: center;
}

ul {
	position: relative;
	list-style: none;
	background-color: #2b2b2b;
	padding: 5px;
}

ul a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
}

.main--menu {
	display: flex;
	justify-content: center;
}

.main--menu li {
	margin: 0 5px;
}

.parent {
	position: relative;
}

.parent > ul {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 100%;
	left: 80%;
	transition: 0.8s;
}

.parent:hover > ul {
	transition: 1s;
	opacity: 1;
	visibility: initial;
}
